*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(BGimg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-bar{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #bbc2c7;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(197, 173, 173, 0.22) 0px 15px 12px;
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0%;
}

.logo {   
    margin-left: 10px;
    display: flex;
}

.logo h1{
    font-size: xx-large;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.subtitle {
    display: flex;
    padding: 10px;
}

.nav-bar-links {
    display: flex;
    column-gap: 30px;
    padding-right: 40px;
}

.nav-bar-link a {
    font-size: medium;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-bar-link a:hover {
    text-decoration: underline;
    color: red;
}

.nav-bar-menu-toggle {
    display: none;
    padding-right: 10px;
}

/*Side Navbar*/
.side-nav-bar {
    background-color: rgb(15, 15, 15);
    padding: 20px;
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(236, 231, 231);
    display: none;
}

.side-nav-bar-link {
    margin-bottom: 30px;
}

.side-nav-bar-links a {
    text-decoration: none;
    color: white;
}

.side-nav-bar-link a:hover {
    text-decoration: underline;
    color: red;
}

.heading{
    padding: 60px;
}

.sub-heading {
    padding: 30px;
}

.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.core-service{
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.core1 {
    padding: 20px;
    text-align: center;
    background-color: #3c3d3f;
    flex-grow: 1;
    height: 90px;
    width: 200px;
}

.core2 {
    padding: 20px;
    text-align: center;
    background-color: #3c3d3f;
    flex-grow: 1;
    height: 90px;
    width: 200px;
}

.core3 {
    padding: 20px;
    text-align: center;
    background-color: #3c3d3f;
    flex-grow: 1;
    height: 90px;
    width: 200px;
}

.core4 {
    padding: 20px;
    text-align: center;
    background-color: #3c3d3f;
    flex-grow: 1;
    height: 90px;
    width: 200px;
}

.core5 {
    padding: 20px;
    text-align: center;
    background-color: #3c3d3f;
    flex-grow: 1;
    height: 90px;
    width: 200px;
}

.industries{
    display: flex;
    flex-wrap: wrap;
    flex-direction : row;
    justify-content: center;
    gap: 20px;
}

.industry{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.footer {
    padding: 20px;
    background-color: gray;
    color: rgb(7, 7, 7);
}
.footer-logo h1{
    display: inline-flex;
    font-family: "Russo One", sans-serif;
    font-style: normal;
}

.footer p,h4,i{
    padding: 3px;
}

.contact{ 
    height: 450px;
    width: 350px;
    background-color: #3c3d3f;
    color: rgb(252, 249, 249);
    text-align: center;
    margin-top: 30%;
    margin: auto;
    justify-content: center;
     
}

.contact-container {
    padding: 40px;
}

.contact-container input {
    height: 30px;
    width: 100%;
    margin-top: 20px;
}

.contact-container2 input {
    height: 80px;
    width: 78%;
}

.contact-container2 button {
    height: 40px;
    width: 80px;
    color: #f5f3f3;
    background-color: rgb(209, 20, 20);
    border-radius: 10%;
    margin-top: 20px;
}

.about{
    padding: 20px;
}

.about div{
    padding: 20px;
}

.about_image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
}

.tools img{
    height: 150px;
    width: 150px;
}

.services{
    padding: 20px;
}
.twod{
    max-width: 1100px;
    margin: auto;
    padding: 10px 20px;
    background: #ffffff;
}
.twod h1,h2{
    color: #ce1111;
}
.twod h1{
    text-align: center;
    margin-bottom: 20px;
}
.twod p{
    margin-bottom: 20px;
}
.twodservices{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    margin-top: 30px;
}
.service-box {
    padding: 20px;
    border-left: 4px solid #ce1111;
}

.service-box ul{
    padding-left: 20px;
}

/* Media Query*/
@media screen and (max-width:600px) {
    .nav-bar-menu-toggle {
        display: block;
    }

    .nav-bar-links {
        display: none;
    }
}